.button {
  margin-left: 10px;
  margin-top: 50px;
}
.iconbutton {
  background: none;
  border: none;
  padding: 0;
  color: #d0d0d0;
  font-size: -2px;
}

.div {
  border: 1px solid #e8e8e8;
  height: 230px;
  width:40%;
  padding: 10px;
}
.field {
  width: 350px;
  font-size: 300px;
}
.position {
  margin-top:200px;
  margin-left: 300px;
  
}
.textfield {
  margin-left: 10px;
  width: 200px;
}
.outerdiv {
  flex-wrap: wrap;
justify-content: center;
flex-direction: row  
}
.leftdiv {
  width: 80%;
  float: left;
  margin-bottom: 12px;
}
.rightdiv {
  width: 20%;
  float: right;
}

.heading {
  margin-bottom: 7px;
  font-weight: 200;
  color: grey;
}
