.iconbutton {
  background: none;
  border: none;
  padding: 0;
  color: #d0d0d0;
  font-size: -3px;
  :hover {
    cursor: pointer;
    border: #d0d0d0;
  }
}

.div {
  display: "flex";
  border: 1px solid #e8e8e8;
  height: auto;
  min-height: 250px;
  height: auto !important; /* for IE as it does not support min-height */
  width: 50%;
  padding: 10px;
}
.field {
  width: 100%;
}
.outerdiv {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.leftdiv {
  width: 80%;
  float: left;
  margin-bottom: 12px;
}
.rightdiv {
  float: right;
}
.buttondiv {
  float: right;
  //flex-wrap: nowrap;
  display: "flex";
  justify-content: "flex-end";
}
.heading {
  margin-bottom: 7px;
  font-weight: 200;
  color: grey;
}
