.div {
  display: "flex";
  border: 1px solid #e8e8e8;
  height: auto;
  min-height: 350px;
  overflow: hidden;
  //height: auto !important; /* for IE as it does not support min-height */
  width: 45%;
  padding: 1.5%;
}
.innerdiv {
  width: 100%;
  flex: wrap;
}
.leftdiv {
  width: 70%;
  float: left;
}
.rightdiv {
  width: 30%;
}
.inputleft {
  width: 60%;
  float: left;
}
.buttonright {
  width: 40%;
  float: right;
}
.position {
  float: right;
}
.d3 {
  width: 60%;
  float: left;
  justify-content: center;
}
.d4 {
  width: 40%;
  float: right;
  justify-content: center;
}
.field {
  width: 100%;
  font-size: 100px;
}
