.div {
  border: 1px solid #e8e8e8;
  width: 40%;
  padding: 12px;
}
.diva {
  width: 100%;
}
.d1 {
  width: 60%;
  float: left;
}
.d2 {
  width: 40%;
  float: right;
}

.position {
  float: right;
}
.d3 {
  width: 50%;
  float: left;
}
.d4 {
  width: 50%;
  float: right;
}
