.div {
  display: "flex";
  border: 1px solid #e8e8e8;
  height: auto;
  min-height: 350px;
  overflow: hidden;
  //height: auto !important; /* for IE as it does not support min-height */
  width: 40%;
  padding: 1.5%;
}
.innerdiv {
  width: 100%;
  display: flex;
}
.leftdiv {
  width: 50%;
  float: left;
}

.rightdiv {
  float: right;
}
.field {
  width: 100%;
}

.inputdivs {
  width: 70%;
  float: left;
}

.buttonsdiv {
  float: right;
}
