.field {
  width: 100px;
  font-size: 300px;
}
.div {
  display:flex;
  border: 1px solid #e8e8e8;
  height: 300px;
  width: 30%;
  padding: 10px;
  justify-content:space-evenly
}

.margins {
  margin-top: 20px;
  margin-left: 20px;
}
