.field {
  width: 200px;
  font-size: 300px;
}
.div {
  border: 1px solid #e8e8e8;
  height: 300px;
  width: 35%;
  overflow: auto;
  padding: 10px;
}

.margins {
  margin-top: 20px;
  margin-left: 20px;
}
