.button {
  margin-left: 10px;
  position: fixed;
  margin-top: 10px;
}
.button1 {
  margin-top: 20px;
}
.div {
  border: 1px solid #e8e8e8;
  height: 200px;
  width: 30%;
  overflow: auto;
  padding: 10px;
}
.field {
  width: 300px;
  font-size: 300px;
}
.position {
  margin-top: 10px;
  float: right;
}
.textfield {
  margin-left: 10px;
  width: 200px;
}
.diva {
  padding: 12px;
}
.d1 {
  width: 80%;
  float: left;
}
.d2 {
  width: 20%;
  float: right;
}

.heading {
  margin-bottom: 5px;
}
